<main>
    <section>
        <div class="hero-box">
            <div class="hero-boxDetail">
                <h1>Exprimez-vous librement</h1>
                <p>Dites « Bonjour » à une expérience de messagerie différente. Un accent inattendu sur la confidentialité et la protection des données personnelles, combiné à toutes les fonctions auxquelles vous vous attendez.</p>
                <app-full-button></app-full-button>
            </div>
            <div class="hero-boxImages">
                <img class="hero-img1" src="../../../assets/signal-iphone.png" alt="">
                <img class="hero-img2" src="../../../assets/signal-pixel.png" alt="">
            </div>
        </div>
    </section>
</main>
