main{
    background-color: var(--ultra-marine);
    max-height: 680px;
    margin-bottom: 4em;
}

section{
    padding-top: 0;
}

.hero-box{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.hero-boxDetail{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 12px;
}

.hero-boxDetail h1{
    margin-top: 2.5em;
}

.hero-boxImages{
    position: relative;
    padding: 48px 12px 12px 12px;
    margin-left: 2em;
}

.hero-boxImages img{
    transform: rotate(22.5deg)
}

.hero-boxImages img.hero-img1{
    width: 320px;
    margin-top: 46px;
}

.hero-boxImages img.hero-img2{
    width: 300px;
    position: absolute;
    margin-left: -32px;
}
