<nav>
    <section>
        <img class="navbar-logo" src="../../../assets/logo.png" alt="">
        <ul class="navbar-links">
            <li><a href="#">Get Signal</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#"><img src="../../../assets/twitter.svg" alt="Logo Twitter"></a></li>
            <li><a href="#"><img src="../../../assets/instagram.svg" alt="Logo Instagram"></a></li>
            <li><a href="#"><img src="../../../assets/solid_globe.svg" alt="Icon globe">Français</a></li>
        </ul>
    </section>
</nav>
