nav{
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--white);
}

nav>section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0;
}

nav img.navbar-logo{
    width: 9em;
    height: 100%;
}

nav ul.navbar-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    padding: 12px;
}

nav ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.3em;
    font-size: 16px;
}

nav ul img{
    width: 1em;
}