<app-main-hero></app-main-hero>
<app-descriptif></app-descriptif>
<app-main-information></app-main-information>
<app-features></app-features>
<app-left-information></app-left-information>
<app-right-information></app-right-information>
