:root{
    --main-black: #1b1b1b;
    --main-blue: #2C6BED;
    --second-blue: #1851B4;
    --white: #fff;
    --ultra-marine: #9DBBF8;
    --turquoise: #a5cad5;
    --grey: #F6F6F6;
}

html, body{
    /* Position et taille */
    width: 100%;
    margin: 0 auto;

    /* Visuel */
    font-family: inter;
    font-size: 20px;
    color: var(--main-black);
}

main {
    width: 100%;
}

section {
    margin: 0 10em;
    padding: 3rem 1.5rem;
    width: auto;
}

p{
    font-weight: 300;
}

/* TITLE */
h1, h2{
    margin: 0;
    font-weight: 800;
}

h1{
    margin-bottom: 0.1em;
    font-size: 64px;
    line-height: 64px;
}

h2{
    font-size: 40px;
    line-height: 44px;
}

/* LINKS */
a{
    color: var(--main-black);
    text-decoration: none;
}

a:hover{
    color: var(--main-blue);
}

/* BUTTONS */
button{
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    height: 2.5em;
    padding: 0 1.3em;
}

/* Section text & image */
.info-text{
    display: flex;
    flex-direction: row;
}

.info-textDetails{
    width: 33%;
    padding: .75em;    
}

.info-textDetails h2{
    margin-bottom: 32px;
}

.infoImg img{
    width: 640px;
    min-height: 100%;
    border-radius: 16px;
    overflow: hidden;
}