<section class="info-text">
    <div class="infoImg">
        <img [src]="img" alt="title">
    </div>
    <div class="info-textDetails">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <app-empty-button></app-empty-button>
    </div>
</section>