main{
    background-color: #3C3744;
    color: #E9E9E9;
    font-size:16px;
    line-height:22px;
}

section{
    display: flex;
    flex-direction: row;
    gap: 5em;
}

.footer-box2{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

ul{
    list-style-type: none;
}

span{
    font-weight: bold;
}

.column-items{
    display: flex;
    flex-direction: column;
}

.column-items ul{
    padding: 0;
}

span.list-title{
    padding-bottom: .3em;
}