<main>
    <section>
        <div class="footer-box1">
            <p>© 2013–2024 Signal, a 501c3 nonprofit. <br/>
                Signal is a registered trademark in the United States and other countries. 
            </p>
            <p>
                For media inquiries, contact press&#64;signal.org
            </p>
        </div>
        <div class="footer-box2">
            <div class="column-items">
                <span class="list-title">Organization</span>
                <ul>
                    <li>Donate</li>
                    <li>Careers</li>
                    <li>Blog</li>
                    <li>Terms & Privacy Policy</li>
                </ul>
            </div>
            <div class="column-items">
                <span>Download</span>
                <ul>
                    <li>Android</li>
                    <li>iPhone & iPad</li>
                    <li>Windows</li>
                    <li>Mac</li>
                    <li>Linux</li>
                </ul>
            </div>
            <div class="column-items">
                <span>Social</span>
                <ul>
                    <li>GitHub</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="column-items">
                <span>Help</span>
                <ul>
                    <li>Support Center</li>
                    <li>Community</li>
                </ul>
            </div>
        </div>
    </section>

</main>