<main>
    <section>
        <h2>Pourquoi utiliser Signal?</h2>
        <p>Explorez ci-dessous afin de découvrir pourquoi Signal est une messagerie simple, puissante et sécurisée</p>
    </section>
</main>