<main>
    <section class="features">
        <ul>
            @for(eachBox of featuresBoxes; track eachBox.id){
                <li>
                    <div class="box-details">
                        <app-feature-box [box]="eachBox"></app-feature-box>
                    </div>
                </li>
            }
        </ul>
    </section>
</main>