main{
    background-color: var(--grey);
}

ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li{
    list-style-type: none;
    width: 48%;
    text-align: center;
    padding: 12px;
    height: 100%;
}

.box-details{
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
    height: 580px;
}